<div class="control-label col-lg-3">
    {{ 'Open PrestaShop settings'|trans }}
</div>
<div class="col-lg-9">
    <button id="dhlparcel_shipping_settings_shipping_method_jump" class="btn btn-primary">{{ 'Manage'|trans }}</button>
    <div class="help-block">
        {{ 'DHL shipping methods can be managed in the default PrestaShop shipping settings.'|trans }}
    </div>
</div>
