<div class="control-label col-lg-3">
    {{ 'Link payment methods '|trans }}
</div>
<div class="col-lg-9">
    <button id="dhlparcel_shipping_settings_shipping_method_payment" class="btn btn-primary">{{ 'Manage'|trans }}</button>
    <div class="help-block">
        {{ 'Enable payment methods for DHL shipping methods in PrestaShop payment settings.'|trans }}
    </div>
</div>
