#lgcomments_products .thumbnail-container:focus .highlighted-informations,
#lgcomments_products .thumbnail-container:hover .highlighted-informations,
.featured-products .thumbnail-container:focus .highlighted-informations,
.featured-products .thumbnail-container:hover .highlighted-informations,
.product-accessories .thumbnail-container:focus .highlighted-informations,
.product-accessories .thumbnail-container:hover .highlighted-informations,
.product-miniature .thumbnail-container:focus .highlighted-informations,
.product-miniature .thumbnail-container:hover .highlighted-informations {
    bottom: 7.8rem
}
.rating-hidden {
    visibility: hidden;
    display: block;
    width: 0px;
    height: 0px;
}

.stars-container {
    width: 100%;
    text-align: center;
    background: white none repeat scroll 0 0;
}
