#module-lgcomments-account textarea {
    border: 1px solid #cdcdcd;
}
#module-lgcomments-account .table thead > tr > th, .table thead > tr > td, .table tbody > tr > th, .table tbody > tr > td, .table tfoot > tr > th, .table tfoot > tr > td {
    border-top: 0;
    background:none;
    font-family:"open sans", sans-serif;
    text-shadow:none;
    color:	#777777;
}
#module-lgcomments-account table.std td, #module-lgcomments-account table.table_block td {
    border:0;
} 
#module-lgcomments-account .table {
    background: none repeat scroll 0 0 #fbfbfb;
    border: 1px solid #cdcdcd;
}
@media (max-width: 768px) {
    .std table, 
    .std td, 
    .std tr { 
        display: block;
    }
}
