.ets_abancart_popup_overload .ets_abancart_title {
    margin: 0px;
    border-bottom: 1px solid #ddd;
    font-weight: 600;
    background: #03a9f3 none repeat scroll 0 0;
    color: #fff;
    font-size: 24px;
    padding: 12px 10px;
    text-align: left;
    position: relative;
    min-height: 40px;
}
.ets_abancart_bar_overload .ets_table {
    min-height: 0 !important;
}
span.ets_abancart_box:after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    margin-bottom: 9px;    left: 50%;
    right: 0;
    background: #000;
    color: #fff;
    font-size: 12px;
    padding: 5px;
    transform: translateX(-50%);
    -wewbkit-transform: translateX(-50%);
    text-align: center;
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
}
.ets-ac-lead-field_content .checkbox,
.ets-ac-lead-field_content .radio {
    display: block;
    width: 100%;
}
input#cart_name.error {
    box-shadow: 0 0 2px 0 #ff0600;
    outline: none;
    border-color: #ff0600;
}
#ets_abancart_campaign_form input.col_name[type="text"] {
    max-width: calc(50% - 5px);
    -webkit-max-width: calc(50% - 5px);
}
.control-label span.required{
    color:red;
}
.ets-ac-lead-field_content .field-file-desc {
    font-size: 13px;
    margin-bottom: 3px;
    margin-top: 2px;
    font-style: italic;
    color: #999;
}
.ets-ac-lead-form-field-shortcode .alert ul li {
    list-style: none;
}
.ets-ac-lead-form-field-shortcode .alert.alert-danger:before,
.ets-ac-lead-form-field-shortcode label.required:before{
    display:none;
}
.ets_abancart_lead_form .text-right {
    text-align: right!important;
}
button.ets-ac-btn-submit-lead-form.loading {
    color: transparent!important;
}
.ets-ac-popup-body {
    padding: 30px;
}
.ets_abancart_bar_overload .ets-ac-popup-body {
    padding: 0px;
    line-height: 1.4;
    padding-right: 36px;
}
.ets_abancart_product_info .product_combination {
    display: none;
}
.ets-ac-lead-field_content select.form-control {
    width: 100%;
}
.ets-ac-lead-form-field-shortcode label.required:after {
    content: "*";
    color: #c70000;
    margin-left: 4px;
}
p.field-desc {
    font-size: 13px;
}
.ets-ac-thankyou-page-block {
    padding: 20px 25px 15px;
    position: relative;
}
.ets-ac-thankyou-page-block .tp-header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.ets-ac-lead-form-field-shortcode input::-webkit-input-placeholder,
.ets-ac-lead-form-field-shortcode textarea::-webkit-input-placeholder{
    color: #7a7a7a!important;
    opacity: 1!important;
}
.ets-ac-lead-form-field-shortcode input::-moz-placeholder,
.ets-ac-lead-form-field-shortcode textarea::-moz-placeholder{
    color: #7a7a7a!important;
    opacity: 1!important;
}
.ets-ac-lead-form-field-shortcode input:-ms-input-placeholder,
.ets-ac-lead-form-field-shortcode textarea:-ms-input-placeholder{
    color: #7a7a7a!important;
    opacity: 1!important;
}
.ets-ac-lead-form-field-shortcode input:-moz-placeholder,
.ets-ac-lead-form-field-shortcode textarea:-moz-placeholder{
    color: #7a7a7a!important;
    opacity: 1!important;
}
.ets-ac-lead-form-field-shortcode input::placeholder,
.ets-ac-lead-form-field-shortcode textarea::placeholder{
    color: #7a7a7a!important;
    opacity: 1!important;
}
.ets-ac-lead-form-field-shortcode input:active::-webkit-input-placeholder,
.ets-ac-lead-form-field-shortcode textarea:active::-webkit-input-placeholder{
    color: #7a7a7a!important;
    opacity: 1!important;
}
.ets-ac-lead-form-field-shortcode input:active::-moz-placeholder,
.ets-ac-lead-form-field-shortcode textarea:active::-moz-placeholder{
    color: #7a7a7a!important;
    opacity: 1!important;
}
.ets-ac-lead-form-field-shortcode input:active:-ms-input-placeholder,
.ets-ac-lead-form-field-shortcode textarea:active:-ms-input-placeholder{
    color: #7a7a7a!important;
    opacity: 1!important;
}
.ets-ac-lead-form-field-shortcode input:active:-moz-placeholder,
.ets-ac-lead-form-field-shortcode textarea:active:-moz-placeholder{
    color: #7a7a7a!important;
    opacity: 1!important;
}
.ets-ac-lead-form-field-shortcode input:focus::-webkit-input-placeholder,
.ets-ac-lead-form-field-shortcode textarea:focus::-webkit-input-placeholder{
    color: #7a7a7a!important;
    opacity: 1!important;
}
.ets-ac-lead-form-field-shortcode input:focus::-moz-placeholder,
.ets-ac-lead-form-field-shortcode textarea:focus::-moz-placeholder{
    color: #7a7a7a!important;
    opacity: 1!important;
}
.ets-ac-lead-form-field-shortcode input:focus:-ms-input-placeholder,
.ets-ac-lead-form-field-shortcode textarea:focus:-ms-input-placeholder {
    color: #7a7a7a!important;
    opacity: 1!important;
}
.ets-ac-lead-form-field-shortcode .form-control:focus,
.ets-ac-lead-form-field-shortcode input{
    color: #7a7a7a!important;
    opacity: 1!important;
}
.ets-ac-lead-form-field-shortcode input:focus:-moz-placeholder,
.ets-ac-lead-form-field-shortcode textarea:focus:-moz-placeholder {
    color: #7a7a7a;
    opacity: 1!important;
}
.ets_abancart_form_save_cart .front.front_login.panel {
    box-shadow: none;
    padding-bottom: 0!important;
    margin-bottom: 0;
    border: transparent;
}
.ets_abancart_products-mini a {
    color: #E73A2F!important;
}
.ets_abancart_popup .ets_abancart_wrapper .box {
    border: none!important;
    background: none!important;
    padding: 0!important;
}
span.ets_abancart_box:before {
    content: "";
    position: absolute;
    left: 50%;
    border-top: 6px solid #000;
    border-left: 6px solid transparent!important;
    border-right: 6px solid transparent!important;
    bottom: 100%;
    margin-bottom: 3px;
    margin-left: -6px;
    opacity: 0;
    cursor: pointer;
    visibility: hidden;
}
a.ets_abancart_no_thanks:not(:hover) {
    color: #ddd!important;
}
span.ets_abancart_group_clock {
    display: inline-block;
}
span.ets_abancart_box {
    display: inline-block;
    position: relative;
}
span.ets_abancart_box:hover:before,
span.ets_abancart_box:hover:after{
    opacity: 1;
    visibility: visible;
}
.ets_abancart_popup_overload .ets_abancart_container {
    padding: 0;
    margin: 15px auto;
}
ul.ets_abancart_products {
    margin-bottom: 0;
}
ul.ets_abancart_products li a img {
    width: 50px;
    max-width: 100%;
    display: block;
    height: auto;
    margin-bottom: 5px;
}
.ets_abancart_products li {
    text-align: center;
    display: inline-block;
}
.ets_abancart_products li a {
    margin: 0 auto;
    display: inline-block;
}
.ets_abancart_view_shopping_cart,
.ets_abancart_delete_cart,
.ets_abancart_checkout_cart{
    color: #555;
    margin: 0 5px;
    display: inline-block;
    background: transparent!important;
    min-width: 100px;
    text-align: left;
}
.ets_aban_action {
    width: 150px;
}
.ets_abancart_view_shopping_cart i,
.ets_abancart_delete_cart i,
.ets_abancart_checkout_cart i{
    margin-right: 5px;
}
.ets_aban_action a i {
    display: inline-block;
    min-width: 14px;
    text-align: center;
}
.ets_abancart_wrapper .ets_abancart_actions {
    margin-top: 25px;
    display: block;
}
.ets_abancart_popup .ets_abancart_wrapper .box h4 {
    margin-bottom: 20px;
}
.ets_abancart_close {
    z-index: 100;
    position: absolute;
    width: 28px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    height: 44px;
    right: 20px;
    font-size: 0;
    top: 3px;
    cursor: pointer;
}
.ets-ac-lead-form-field-shortcode select.form-control {
    height: auto!important;
    padding: 0 20px 0 10px;
}
.ets_abancart_container {
    padding: 25px;
    background: #fff;
    margin: 30px auto;
    width: 90%;
    overflow: hidden;
    position: relative;
    max-width: 800px;
    font-size: 14px;
}
.ets-ac-lead-field_content .radio label, .ets-ac-lead-field_content .checkbox label, .ets-ac-lead-field_content .checkbox label input, .ets-ac-lead-field_content .radio label input {
    cursor: pointer;
}
.ets-ac-lead-form-field-shortcode .form-group label {
    vertical-align: top;
    padding-top: 8px;
}
div#ui-datepicker-div {
    font-size: 13px;
}
.ets_abancart_display_shopping_cart_overload .ets_abancart_close {
    top: 12px;
}
.ets-ac-lead-form-field-shortcode .form-group {
    margin-bottom: 15px;
}
.ets-ac-lead-field_content label {
    font-weight: normal;
    text-align: inherit;
}
.ets-ac-lead-form-field-shortcode .form-group label ~ .ets-ac-lead-field_content {
    font-weight: normal;
}
.ets-ac-lead-form-field-shortcode input[type="file"], 
.ets-ac-lead-form-field-shortcode input[type="text"], 
.ets-ac-lead-form-field-shortcode input[type="email"], 
.ets-ac-lead-form-field-shortcode input[type="number"], 
.ets-ac-lead-form-field-shortcode select, 
.ets-ac-lead-form-field-shortcode textarea {
    background: #ffffff;
    min-height: 36px!important;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 14px;
    vertical-align: top;
}
.text-right {
    text-align: right;
}
.form-group.mb_0 {
    margin-bottom: 0;
}
.ets_abancart_form_save_cart h4 {
    margin-bottom: 20px;
}
.ets_abancart_bar_overload .ets_abancart_container {
    background: transparent;
    width: auto;
    max-width: 1170px;
    position: static;
    padding: 0;
    border: none;
    margin: 0;
}
.ets_abancart_bar_overload .ets_abancart_wrapper {
    height: auto;
    max-height: none;
    overflow: unset;
}
.ets_abancart_bar_overload .ets_abancart_close:after,
.ets_abancart_bar_overload .ets_abancart_close:before {
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    -webkit-transform: translate3d(-50%,-50%,0);
}
.ets_abancart_close:after,
.ets_abancart_popup_overload .ets_abancart_close.thankyou-page:after {
    content: "";
    height: 22px;
    width: 2px;
    background: #666666;
    position: absolute;
    top: 11px;
    left: 13px;
}
span.ets_abancart_close_form {
    position: absolute;
    right: -14px;
    top: -14px;
    font-size: 0;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background: #666;
    border: 1px solid #fff;
    box-shadow: 0 0 4px 0 #000;
    cursor: pointer;
}
.ets_abancart_popup_overload .ets_abancart_close:before,
.ets_abancart_popup_overload .ets_abancart_close:after {
    background: #fff;
}
.ets_abancart_close:before,
.ets_abancart_popup_overload .ets_abancart_close.thankyou-page:before {
    content: "";
    width: 22px;
    height: 2px;
    background: #666666;
    position: absolute;
    top: 21px;
    left: 3px;
}
.lh_18 {
    display: inline-block;
    vertical-align: middle;
}
span.ets_abancart_close_form:after,
span.ets_abancart_close_form:before {
    background: #fff;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
    content: "";
}
span.ets_abancart_close_form:after{
    width: 2px;
    height: 14px;
}
span.ets_abancart_close_form:before {
    content: "";
    width: 14px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
}
.ets_abancart_bar_overload .ets_abancart_container .ets_abancart_close {
    right: 15px;
    top: 50%;
    margin-top: -16px;
    text-align: center;
    width: 28px;
    height: 28px;
}
.ets_abancart_shopping_cart span.ets_abancart_close {
    top: 10px;
    right: 20px;
}
.ets_abancart_bar_overload {
    position: relative;
    padding-left: 30px;
    max-width: 100%;
    padding-right: 30px;
}
.page-my-account a#shopping-cart-link {
    width: 100%;
    padding: 0 !important;
}
.page-my-account .ets_abancart_shopping_cart {
    list-style: none;
    margin-bottom: 1.875rem;
}
.page-my-account .ets_abancart_shopping_cart a {
    margin-bottom: 0!important;
}
.ets_abancart_shopping_cart_overload {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 100000;
    opacity: 0;
    visibility: hidden;
}
.ets_abancart_shopping_cart_overload.active {
    opacity: 1;
    visibility: visible;
}
.ets_abancart_shopping_cart_overload .ets_abancart_shopping_cart {
    background: #ffffff;
    padding: 19px 30px;
    position: relative;
    width: 90%;
    max-width: 800px;
}

.ets_abancart_display_shopping_cart_overload {
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 1000;
    margin: 0 auto;
    top: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: none;
    opacity: 0;
    visibility: hidden;
}
.ets_abancart_add_discount{
    cursor: pointer;
}
button{
    cursor: pointer;
}
a#submit_load_cart.ets_abancart_load_this_cart {
    float: right;
}
.ets_abancart_popup table#order-productstd,
.ets_abancart_popup table#order-products th {
    vertical-align: middle;
}
.ets_abancart_display_shopping_cart_overload.active {
    opacity: 1;
    visibility: visible;
    display: block;
    z-index: 10000;
    overflow: auto;
}
.ets_abancart_popup img {
    max-width: 100%;
    height: auto;
}
.shopping-cart-list .table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent;
}
.ets_abancart_form_save_cart .form-group.row-padding-top button.active,
.ets_abancart_form_login .form-group.row-padding-top button.active,
.ets_abancart_form_login .form-group.row-padding-top button.active span,
.ets-ac-btn-submit-lead-form.active,
.ets-ac-btn-submit-lead-form.loading,
.ets_abancart_form_save_cart .form-group.row-padding-top a.btn.active{
    color: transparent;
}
.ets_abancart_form_save_cart .form-group.row-padding-top button.active:after,
.ets_abancart_form_login .form-group.row-padding-top button.active:after,
.ets_abancart_form_save_cart .form-group.row-padding-top a.btn.active:after {
    content: "";
    display: flex!important;
    display: -webkit-flex;
    font-size: 36px;
    position: absolute;
    -webkit-animation: spiner_loading 0.5s infinite linear;
    animation: spiner_loading 0.5s infinite linear;
    left: 50%;
    top: 50%;
    z-index: 1001;
    margin-left: -12px;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
#submitFilterButtoncart.active:after,
.ets-ac-btn-submit-lead-form.active:after,
.ets-ac-btn-submit-lead-form.loading:after{
    content: "";
    -webkit-animation: spiner_loading 0.5s infinite linear;
    animation: spiner_loading 0.5s infinite linear;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.ets-ac-btn-submit-lead-form.active:after,
.ets-ac-btn-submit-lead-form.loading:after{
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
}
.ets_abancart_form_save_cart .form-group.row-padding-top button.active:after,
.ets_abancart_form_login .form-group.row-padding-top button.active:after,
.ets_abancart_form_save_cart .form-group.row-padding-top a.btn.active:hover:after,
#submitFilterButtoncart.active:hover:after{
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
.ets_abancart_form_save_cart .form-group.row-padding-top button,
.ets-ac-lead-form-field-shortcode button.ets-ac-btn-submit-lead-form,
.ets_abancart_form_save_cart .form-group.row-padding-top a.btn{
    position: relative;
}
button#submit_login {
    position: relative;
}
.ets_abancart_leave_website_overload.ets_abancart_popup.ets_abancart_overload .ets_abancart_wrapper.active {
    display: block;
}
.ets_abancart_leave_website_overload.ets_abancart_popup.ets_abancart_overload .ets_abancart_wrapper {
    display: none;
}
.ets_abancart_leave_website_overload.ets_abancart_popup.ets_abancart_overload {
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    z-index: 10000;
    opacity: 0;
    display: none;
    visibility: hidden;
}
.ets_abancart_leave_website_overload.ets_abancart_popup.ets_abancart_overload.active {
    opacity: 1;
    display:block;
    visibility: visible;
}
.shopping-cart-list .table-bordered,
.shopping-cart-list .table-bordered td,
.shopping-cart-list .table-bordered th {
    border: 1px solid #ddd;
    vertical-align: middle;
}
.ets_aban_listsavecart ul.ets_abancart_products {
    text-align: center;
}
body .ets-ac-lead-form-field-shortcode textarea{
    min-height: 100px!important;
}
@-webkit-keyframes spiner_loading {
    from {
        transform: rotate(0);
        -webkit-transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spiner_loading {
    from {
        transform: rotate(0);
        -webkit-transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
.shopping-cart-list .table-bordered thead th {
    border-bottom: 1px solid #ddd;
}

.shopping-cart-list {
    padding: 10px;
    font-size: 14px;
}

.ets_abancart_display_shopping_cart_overload .ets_abancart_wrapper #order-products img {
    width: 80px;
    float: left;
    margin-right: 10px;
}

.text-center {
    text-align: center;
}

a.ets_abancart_checkout.btn {
    float: right;
    color: #fff;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .2);
    text-transform: uppercase;
    font-weight: 600;
    padding: .5rem 1.25rem;
}

.front.front_login.panel > p {
    padding: 8px 15px;
}

.table td, .table th {
    vertical-align: middle;
}

.ets_abancart_form_save_cart .form-group.row-padding-top {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin-bottom: 4px;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.ets_abancart_form_save_cart .form-group.row-padding-top > button,
.ets_abancart_form_save_cart .form-group.row-padding-top > .ets_abancart_checkout {
    margin-bottom: 0;
    text-transform: uppercase;
    margin-top: 5px;
    font-weight: normal;
    outline: none!important;
}
.ets_abancart_form_save_cart .alert-danger{
    margin-top: 15px;
    display: block;
}
.ets_abancart_form_save_cart .alert-danger ul {
    margin-bottom: 0;
}
.ets_abancart_shopping_cart_overload .ets_abancart_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.ets_mp_content_right > .panel.ets_mp-panel th {
    border-bottom: 2px solid #d5e3e6;
    border-top: 1px solid #bbcdd2;
}
#list-mp_products tr, #list-mp_products td {
    border-bottom: 1px solid #bbcdd2;
    border-top: 1px solid #bbcdd2;
}
.ets_mp_content_right > .panel.ets_mp-panel .filter.row_hover th {
    border: none;
}
.ets_abancart_wrapper {
    margin: 0;
    max-height: calc(100% - 10px);
    max-height: -webkit-calc(100% - 10px);
    overflow: auto;
}

.ets_abancart_products_mini_item td {
    padding: 8px 10px;
}

span.ets_abancart_count_down_clock {
    display: flex;
    display: -webkit-flex;
}
td.ets_abancart_total_item,
.p_price .price{
    color: #454a4c;
    font-weight: 600;
}
.ets_abancart_count_down_clock .ets_abancart_countdown {
    border: 1px solid #ddd;
    padding: 7px 2px 4px;
    display: inline-block;
    font-size: 11px;
    margin-right: 6px;
    width: 42px;
    color: #333;
    text-align: center;
    margin-bottom: 2px;
}
.ets_abancart_product_list_table{
    display: block;
    width: 100%;
    position: relative;
    overflow: auto;
}
.ets_abancart_products_mini_item span.regular-price {
    color: #999;
    text-decoration: line-through;
    margin-left: 10px;
}

.ets_abancart_countdown span {
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 2px;
    color: #777;
}

a.ets_abancart_no_thanks:hover {
    color: #0077a4!important;
}
a.ets_abancart_no_thanks {
    text-decoration: underline;
    margin-top: 0;
    display: inline-block;
    color: #ddd;
    cursor: pointer;
}
.ets_abancart_bar_overload[data-type="bar"] .ets_abancart_count_down_clock,
.ets_abancart_bar_overload[data-type="bar"] .ets_abancart_count_down_clock *{
    color: inherit;
}
.ets_abancart_bar_overload[data-type="bar"] a,
.ets_abancart_bar_overload[data-type="bar"] a:hover{
    color: #ffffff!important;
}
.ets_abancart_wrapper p{
    min-height: 1px;
}
body .ets_abancart_add_discount.bar,
body .ets_abancart_add_discount.bar:focus,
body .ets_abancart_add_discount.bar:hover{
    background: transparent;
    color: inherit;
    text-decoration: underline!important;
    outline: none!important;
    border: none!important;
    box-shadow: none!important;
    padding: 0!important;
}
.ets_abancart_width {
    max-width: 100%;
    height: 100%;
    display: block;
}
.ets_abancart_popup_overload.ets_abancart_overload {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9000;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
}

.ets_table {
    width: 100%;
    display: table;
    height: 100%;
    margin: 0 auto;
}

.ets_tablecell {
    display: table-cell;
    align-items: center;
    vertical-align: middle;
    padding: 30px 0;
}

.ets_abancart_popup_overload.ets_abancart_overload.active {
    opacity: 1;
    visibility: visible;
}
.ets_abancart_bar_overload .ets_tablecell {
    padding: 0;
}
a.ets_abancart_checkout:not(.btn) {
    background: #E73A2F;
    border: none;
    color: #fff;
    padding: 8px 15px;
    position: relative;
    clear: both;
    display: inline-block;
    border-radius: 4px;
}
a.ets_abancart_checkout:not(.btn):hover{
    background: #2592a9!important;
}
.shopping-cart-list.ets_aban_listsavecart {
    overflow: auto;
}
.w_16{
    width: 16px;
}
.h_16{
    height: 16px;
}
.btn .svg_fill_white svg{
    fill: #ffffff;
}
.btn:hover .svg_fill_hover_white svg{
    fill: #ffffff;
    -webkit-fill: #ffffff;
}
button#ets_abancart_cart_save {
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: none!important;
    outline: none!important;
}
img.ets_abancart_product_image {
    width: 95px;
}
#save_cart_form input#cart_name {
    outline-width: 1px;
    min-height: 35px;
}
.ets_abancart_product_info span.product_combination {
    font-size: 13px;
    color: #999;
    font-style: italic;
}

button.ets_abancart_add_discount {
    background: #E73A2F;
    border: none;
    color: #fff;
    padding: 8px 15px;
    position: relative;
    border-radius: 4px;
}
button.ets_abancart_add_discount:hover{
    background: #2592a9;
}
.ets_abancart_add_discount:focus,
.ets_abancart_add_discount:active{
    outline: none!important;
}
span.ets_abancart_box_discount {
    border: 1px dashed #2f0404;
    padding: 12px 25px;
    background: #f4ffef;
    display: inline-block;
    position: relative;
    min-width: 120px;
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
    font-size: 16px;
    cursor: pointer;
}

.front.front_login.panel > p {
    margin-top: 10px;
}
i.ets-ab-icon.ets-ab-icon-cut svg {
    width: 26px;
    height: 26px;
    position: absolute;
    right: 100%;
    margin-right: 8px;
    top: 5px;
}
#growls {
    z-index: 50000;
    position: fixed; }
#growls.default {
    top: 10px;
    right: 10px; }
#growls.tl {
    top: 10px;
    left: 10px; }
#growls.tr {
    top: 10px;
    right: 10px; }
#growls.bl {
    bottom: 10px;
    left: 10px; }
#growls.br {
    bottom: 10px;
    right: 10px; }

.growl {
    opacity: 0.8;
    position: relative;
    border-radius: 4px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
.growl.growl-incoming {
    opacity: 0; }
.growl.growl-outgoing {
    opacity: 0; }
.growl.growl-small {
    width: 200px;
    padding: 5px;
    margin: 5px; }
.growl.growl-medium {
    width: 250px;
    padding: 10px;
    margin: 10px; }
.growl.growl-large {
    width: 300px;
    padding: 15px;
    margin: 15px; }
.growl.growl-default {
    color: white;
    background: #7f8c8d; }
.growl.growl-error {
    color: white;
    background: #c0392b; }
.growl.growl-notice {
    color: white;
    background: #2ecc71; }
.growl.growl-warning {
    color: white;
    background: #f39c12; }
.growl .growl-close {
    cursor: pointer;
    float: right;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    font-family: helvetica, verdana, sans-serif; }
.growl .growl-title {
    font-size: 18px;
    line-height: 24px; }
.growl .growl-message {
    font-size: 14px;
    line-height: 18px; }
@media (max-width: 767px){
    .shopping-cart-list {
        overflow: auto;
    }
}
.xdsoft_datetimepicker{
    z-index: 9999999999999 !important;
}
.ets-ac-lead-form-field-shortcode .alert ul{
    margin: 0;
    padding: 0;
}
.ets-ac-lead-form-field-shortcode .form-error-item{
    color: red;
    font-size: 12px;
}
.ets_abancart_preview_info.bar span.ets_abancart_count_down_clock,
.ets_abancart_preview_info.bar span.ets_abancart_count_down_clock * {
    color: inherit;
    border-color: inherit;
}

.ets_abancart_count_down_clock > span:last-child{
    margin-right: 0!important;
}
span.ets_abancart_shot_code_content.count_down_clock {
    display: inline-block;
}

.ets_abancart_count_down_clock,
.ets_ac_evt_countdown2 {
    display: flex;
    display: -webkit-flex;
    margin-top: 5px;
    width: auto;
    display: inline-block;
    font-family: arial;
}

.ets_abancart_count_down_clock .ets_abancart_countdown,
.ets_ac_evt_countdown2 .ets_ac_countdown2 {
    border: 1px solid #ddd;
    padding: 0 2px 4px;
    display: inline-block;
    font-size: 11px;
    margin-right: 6px;
    width: 42px;
    color: #333;
    text-align: center;
    margin-bottom: 6px;
}
.ets_abancart_countdown span,
.ets_ac_countdown2 span {
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin: 4px 0 1px;
    color: #777;
    line-height: 1;
}
.ets_abancart_bar_overload .ets_abancart_countdown span,
.ets_abancart_bar_overload .ets_ac_countdown2 span{
    color: inherit;
    font-size: 19px;
}
.ets_abancart_bar_overload .ets_abancart_count_down_clock .ets_abancart_countdown,
.ets_abancart_bar_overload .ets_ac_evt_countdown2 .ets_ac_countdown2{
    font-size: 9px;
    color: inherit;
    width: 38px;
    margin-right: 4px;
}
.ets_abancart_bar_overload span.ets_abancart_group_clock2 {
    vertical-align: middle;
    display: inline-block;
}
@media (max-width: 991px){
    .ets_abancart_bar_overload {
        height: auto!important;
    }
}
@media (max-width: 767px){
    .ets_abancart_bar_overload .ets_abancart_width {
        height: auto!important;
    }
    .ets_abancart_popup_overload .ets_abancart_container {
        width: 100%!important;
        padding: 0;
    }
    .ets_tablecell {
        padding: 30px 10px;
    }
}
body a.ets_abancart_checkout:not(.btn):hover {
    background: #ffa247!important;
}
a.ets_abancart_no_thanks:hover {
    color: #e73a2f!important;
}

a.ets_abancart_no_thanks:not(:hover) {
    color: #454a4c!important;
}
.ets_abancart_products-mini a span.product_name {
    color: #454a4c!important;
    font-size: 18px;
}
.ets_abancart_products-mini a span.product_name:hover {
    color: #E73A2F!important;

}