<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>an_logo</name>
    <displayName><![CDATA[AN Logo]]></displayName>
    <version><![CDATA[1.1.0]]></version>
    <description><![CDATA[The module enables you to use a SVG file, SVG code, and PNG file as the logo, allows you to change the CSS code and the size of the logo.]]></description>
    <author><![CDATA[Anvanto]]></author>
    <tab><![CDATA[others]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall the module?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>